<div style="text-align: center;">
    <h2>{{title}} esta funcionando</h2>
</div>

<nav>
    <a [routerLink]="['/Home']" [routerLinkActive]="['actual']">Home</a> &nbsp;
    <a [routerLink]="[ '/Cursos'] " [routerLinkActive]="['actual']">Cursos</a> &nbsp;
    <a [routerLink]="['/VideoJuegos']" [routerLinkActive]="['actual']"> VideoJuegos</a> &nbsp;
    <a [routerLink]="[ '/Zapatillas'] " [routerLinkActive]="['actual']">Zapatillas</a> &nbsp;
    <a [routerLink]="[ '/Externos'] " [routerLinkActive]="['actual']">Externos</a> &nbsp;
    <a [routerLink]="[ '/Contacto'] " [routerLinkActive]="['actual']">Contacto</a> &nbsp;
</nav>


<router-outlet></router-outlet>